.logo{
    width: 250px;
    margin: 20px 0 20px 0;
}
td{
    background-color: lime;
}
.w-100{
    width: 100%;
}
.w-25{
    width: 25%;
}
.text-center{
    text-align: center;
}
.p-centrato{
    padding: 10px;
}
.text-justify{
    text-align: justify;
}